<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemoApp.Settings.Devices" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DemoApp.Settings.ShowCase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DemoApp.Settings.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DemoApp.Settings.Devices>
            <setting name="SysLogInUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysLogHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SysLogPort" serializeAs="String">
                <value>6514</value>
            </setting>
            <setting name="SysLogEncoding" serializeAs="String">
                <value>1252</value>
            </setting>
            <setting name="SysLogLayout" serializeAs="String">
                <value>&lt;%syslog-priority&gt;1 %utcdate{yyyy-MM-ddTHH:mm:ss.FFZ} %syslog-hostname %syslog-domainname %appdomain %syslog-process-id %syslog-message-id %syslog-structured-data %message%newline%exception</value>
            </setting>
            <setting name="SysLogFacilityCode" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SysLogStructuredDataPrefix" serializeAs="String">
                <value>example@32473</value>
            </setting>
            <setting name="SysLogPrependMessageLength" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysLogEntryFirstLineOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SysLogSendLogsLevelMin" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="SysLogSendLogsLevelMax" serializeAs="String">
                <value>Off</value>
            </setting>
            <setting name="SysLogProtocol" serializeAs="String">
                <value>Tcp</value>
            </setting>
        </DemoApp.Settings.Devices>
        <DemoApp.Settings.ShowCase>
            <setting name="RoamingNonPortable" serializeAs="String">
                <value>TestValue1</value>
            </setting>
            <setting name="NonPortable" serializeAs="String">
                <value>TestValue2</value>
            </setting>
            <setting name="RoamingPortable" serializeAs="String">
                <value>TestValue3</value>
            </setting>
            <setting name="Portable" serializeAs="String">
                <value>TestValue4</value>
            </setting>
        </DemoApp.Settings.ShowCase>
        <DemoApp.Settings.Preferences>
            <setting name="AdminExitTimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserExitTimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowStyle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="WindowTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleFolder" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="ZoomLevels" serializeAs="String">
                <value>3</value>
            </setting>
        </DemoApp.Settings.Preferences>
    </userSettings>
</configuration>
