<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemoApp.Settings.ShowCase" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DemoApp.Settings.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DemoApp.Settings.ShowCase>
            <setting name="RoamingNonPortable" serializeAs="String">
                <value>TestValue1</value>
            </setting>
            <setting name="NonPortable" serializeAs="String">
                <value>TestValue2</value>
            </setting>
            <setting name="RoamingPortable" serializeAs="String">
                <value>TestValue3</value>
            </setting>
            <setting name="Portable" serializeAs="String">
                <value>TestValue4</value>
            </setting>
        </DemoApp.Settings.ShowCase>
        <DemoApp.Settings.Preferences>
            <setting name="AdminExitTimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserExitTimerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowStyle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="WindowTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleFolder" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="ZoomLevels" serializeAs="String">
                <value>3</value>
            </setting>
        </DemoApp.Settings.Preferences>
    </userSettings>
</configuration>
