<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net>
		<appender name="SysLogTcpAppender" type="DemoApp.Logging.SysLog.TcpAppender, DemoApp">
			<remoteAddress value="127.0.0.1" />
			<remotePort value="6514" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<appender name="SysLogUdpAppender" type="log4net.Appender.UdpAppender">
			<remoteAddress value="127.0.0.1" />
			<remotePort value="514" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<appender name="SysLogUdpAppenderCustom" type="DemoApp.Logging.SysLog.UdpAppenderCustom, DemoApp">
			<remoteAddress value="127.0.0.1" />
			<remotePort value="514" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<appender name="SysLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\syslog.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<appender name="SysLogErrorFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="logs\syslog_error.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="2" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs\error.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="1MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message %exception%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ERROR" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<appender name="DebugAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message %exception%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ErrorFileAppender" />
		</root>
		<logger name="DemoApp.ViewModels.LogViewModel" additivity="false">
			<level value="DEBUG" />
			<appender-ref ref="LogFileAppender" />
			<appender-ref ref="ErrorFileAppender" />
		</logger>
		<logger name="SysLogTcp" additivity="false">
			<level value="DEBUG"/>
			<appender-ref ref="SysLogTcpAppender" />
			<appender-ref ref="SysLogFileAppender" />
			<appender-ref ref="DebugAppender" />
		</logger>
		<logger name="SysLogUdp" additivity="false">
			<level value="DEBUG"/>
			<appender-ref ref="SysLogUdpAppenderCustom" />
			<appender-ref ref="SysLogFileAppender" />
			<appender-ref ref="DebugAppender" />
		</logger>
		<logger name="SysLogError" additivity="false">
			<level value="DEBUG"/>
			<appender-ref ref="SysLogErrorFileAppender" />
		</logger>
	</log4net>
</configuration>